/* @tailwind base;
@tailwind components;
@import "components/index.css";
@tailwind utilities; */

@import "tailwindcss/base";

@import "tailwindcss/components";

@import "components/index.css";

@import "tailwindcss/utilities";

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-active {
    opacity: 0;
}

/* 
.page-enter-active,
.page-leave-active {
    transition: opacity 0.5s;
}

.page-enter,
.page-leave-to {
    opacity: 0;
} */